---
// Navigation component extracted from Layout.astro
---

<section>
  <div class="title">
    <i id="datetime"></i>
  </div>
  <div class="content">
    <div class="list inline" style="gap: 2rem;">
      {Astro.url.pathname === "/" ? <a href="#" onclick="window.scrollTo({top: 0, behavior: 'smooth'}); return false;" class="dimmed">Up</a> : <a href="/" class="dimmed">Home</a>}
      <a href="/posts/about">About</a>
      <a href="/posts/colophon">Colophon</a>
    </div>
  </div>
</section>