---
// Navigation component extracted from Layout.astro
---

<section>
  <div class="title">
    <i id="datetime"></i>
  </div>
  <div class="content">
    <div class="list inline" style="gap: 2rem;">
      {Astro.url.pathname === "/" ? null : <a href="/" class="dimmed">Home</a>}
      <a href="/posts/about">About</a>
      <a href="/posts/colophon">Colophon</a>
      <a href="/feed.rss">RSS</a>
    </div>
  </div>
</section>